*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#glcanvas {
  position: absolute;
  top: 0;
/*  left: 0; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#glcanvas.half {
  right: 0;
  width: 50%;
}

#edit-code {
  position: absolute;
  top: 50px;
  left: 50px;
}

#login, #logout {
  position: absolute;
  top: 50px;
  left: 150px;
}

#edit-rods {
  position: absolute;
  top: 100px;
  left: 50px;
  min-width: 400px;
  width: 20%;
  max-height: 90%;
  max-height: calc(100% - 120px);
  overflow: scroll;
}

#editor-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: white;
}

#editor-inner-container {
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#editor {
  margin-top: 10px;
  font-family: Consolas, monospace;
  display: block;
  width: 100%;
  height: calc(100% - 200px);
  font-size: 1em;
}

#console {
  width: 100%;
  height: 200px;
  font-family: Consolas, monospace;
  resize: none;
  border: none;
  background-color: #eee;
}

#run-btn {
  margin-top: 5px;
  float: right;
  margin-right: 25px;
}

#close-editor, #save-code {
  margin-left: 20px;
}

#potentiometer {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.add-rod {
  float: right;
  margin-top: -2px;
}

#new-design {
  float: right;
  margin-top: -2px;
}

#add-pole {
  margin-bottom: 15px;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  margin-left: 10px;
  margin-right: -5px;
  transition: -moz-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: -o-transform 0.35s ease;
  transition: -ms-transform 0.35s ease;
}

.panel-heading .accordion-toggle.collapsed:after {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.edit-pole .accordion-toggle:after {
  margin-top: 4px;
}

.edit-pole-main {
  padding-bottom: 0;
}

.add-rod {
  margin-top: 1px;
}

.panel-title input {
  width: 40px;
  text-align: center;
}

.rod-row input {
  width: 100%;
  text-align: center;
}

.rod-val {
  margin-bottom: 3px;
}

#render-poles-check {
  margin-top: -2px;
  margin-bottom: 10px;
}

.delete-pole {
  margin-top: -30px;
}

.delete-design {
  margin-top: -4px;
}